<div id="<%= dom_id proponent %>">
  <p>
    <strong>Name:</strong>
    <%= proponent.name %>
  </p>

  <p>
    <strong>Birthdate:</strong>
    <%= proponent.birthdate %>
  </p>

  <p>
    <strong>Income:</strong>
    <%= proponent.income %>
  </p>

</div>
