<div class="card mt-3">
  <div class="card-header">
    Documentos de <%= @proponent.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title">Email: john.doe@example.com</h5>
    <p class="card-text">Phone: (123) 456-7890</p>
  </div>
</div>