<div class="card mt-3">
  <div class="card-header">
    Endereços de <%= @proponent.name %>
  </div>
  <div class="card-body">
    <h5 class="card-title">123 Main St.</h5>
    <p class="card-text">Anytown, USA 12345</p>
  </div>
</div>