<% content_for :title, "Editing proponent" %>

<h1>Editing proponent</h1>

<%= render "form", proponent: @proponent %>

<br>

<div>
  <%= link_to "Show this proponent", @proponent %> |
  <%= link_to "Back to proponents", proponents_path %>
</div>
